@{
    ViewData["Title"] = "About Us";
}

<style>
    .buttn:hover{
        background-color: black;
        color: whiteblack;
    }

</style>

<main class="flex justify-center items-center px-5 my-7">
    <div class="">
    <h1 class="text-center my-5">A brief Intro the My School System: </h1>
    <p class="lead">Welcome to My School System, where education meets compassion. We are not just a school; we are a beacon of hope for underprivileged children, providing them with the gift of knowledge and a path to a brighter future.</p>
    <p class="lead">At School, we believe that education is a fundamental right, not a privilege. Our mission is to break down the barriers that limit access to quality education, especially for those facing economic hardships. As a charity school, we are driven by the passion to empower young minds, irrespective of their socio-economic background.</p>
    <p class="lead">With your generous support, we can make a significant impact. Every donation goes directly towards providing essential resources, including educational materials, nutritious meals, and a safe learning environment. By contributing to My School System, you become a part of a community dedicated to breaking the cycle of poverty through education.</p>
    <p class="lead">Join us in this noble cause. Your generosity can transform lives and sow the seeds for a better tomorrow. Together, let's build a world where every child has the chance to learn, grow, and achieve their dreams. Donate generously to My School System and be the change you want to see in the world. Education is not just a gift; it's a lifelong investment in the future.</p>
    <p class="text-center">
      <a href="#" class="btn btn-outline-primary me-2 fw-bold my-5 btn-xl ">Learn more</a>
    </p>
    </div>



  </main>




