   @{
    ViewData["Title"] = "Gallery";
}

<header data-bs-theme="dark">

  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
        <strong>Album</strong>
      </a>
    </div>
  </div>
</header>

<main>



  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">My School System Gallery</h1>
        <p class="lead text-body-secondary">Memories of the events, our happiness captured!</p>
      </div>
    </div>
  </section>


  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">      
            <img src="https://img.freepik.com/free-photo/kids-organising-lemonade-stand_23-2149431019.jpg?w=360&t=st=1710506754~exp=1710507354~hmac=54900c23e4976ebe55dabd00163cd81b1b5d7b960a9a5d8e0fbc3aea5ddb0319" width="100%" height="100%" role="img" aria-label="Placeholder" alt="No image" style="object-fit: scale-down;">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://img.freepik.com/free-photo/friends-party-with-delicious-pizza_23-2151309463.jpg?t=st=1710507050~exp=1710510650~hmac=b0a75231c6803e80f0557e2f4baeb4fe199b5e1f4ed98b5e433acd50852fd834&w=360" width="100%" height="100%" role="img" aria-label="Placeholder" alt="No image" style="object-fit: scale-down;">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://img.freepik.com/free-photo/friends-party-with-delicious-pizza_23-2151309402.jpg?w=360&t=st=1710507124~exp=1710507724~hmac=1901e507e4c572adc88f4bd38c66f35b8236eb9721adcf93c6ca50ef8862d5a7" width="100%" height="100%" role="img" aria-label="Placeholder" alt="No image" style="object-fit: scale-down;">
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://img.freepik.com/free-photo/friends-party-with-delicious-pizza_23-2151309439.jpg?w=360&t=st=1710507113~exp=1710507713~hmac=cf082e959b7f482b55e09e7791513639d81fde55dc04f2d45bb48716a51d356a" width="100%" height="100%" role="img" aria-label="Placeholder" alt="No image" style="object-fit: scale-down;">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://img.freepik.com/free-photo/girl-knowing-best-answer-question_329181-14249.jpg?w=360&t=st=1710507470~exp=1710508070~hmac=2863ca1c9f52efb34f481bf2b5ca780020c27469fae564a9a6ff71a7d10c2981" width="100%" height="100%" role="img" aria-label="Placeholder" alt="No image" style="object-fit: scale-down;">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://img.freepik.com/free-photo/kids-organising-lemonade-stand_23-2149430990.jpg?w=360&t=st=1710507659~exp=1710508259~hmac=87e023d834d3413a10ec372d7e057596c4eaec7d6d4f62fff876ddfe41aba3b6" width="100%" height="100%" role="img" aria-label="Placeholder" alt="No image" style="object-fit: scale-down;">
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://img.freepik.com/free-photo/kids-organising-lemonade-stand_23-2149430978.jpg?w=360&t=st=1710507667~exp=1710508267~hmac=56c1e07f96e94457840953e38e0011bb645e3a95c6f415eb8f17b713125ab573" width="100%" height="100%" role="img" aria-label="Placeholder" alt="No image" style="object-fit: scale-down;">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://img.freepik.com/free-photo/group-kids-spending-time-after-school-together-handsome-friends-resting-after-classes-before-start-doing-homework-modern-loft-interior-schooltime-friendship-education-togetherness-concept_155003-30595.jpg?w=360&t=st=1710507772~exp=1710508372~hmac=1b9bd5d2c8ef7bed03fedf5ae884b4a9546099bab2776ccaf578bc3bd50f7934" width="100%" height="100%" role="img" aria-label="Placeholder" alt="No image" style="object-fit: scale-down;">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://img.freepik.com/free-photo/friends-party-with-delicious-pizza_23-2151309463.jpg?t=st=1710507050~exp=1710510650~hmac=b0a75231c6803e80f0557e2f4baeb4fe199b5e1f4ed98b5e433acd50852fd834&w=360" width="100%" height="100%" role="img" aria-label="Placeholder" alt="No image" style="object-fit: scale-down;">
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

