@model SchoolManagement.Mvc.Data.Class

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Slot:</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <br>
            <div class="form-group">
                <label asp-for="LecturerId" class="control-label"></label>
                <select asp-for="LecturerId" class ="form-control" asp-items="ViewBag.LecturerId"></select>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="CourseId" class="control-label"></label>
                <select asp-for="CourseId" class ="form-control" asp-items="ViewBag.CourseId"></select>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-dark">Back to List</a>
            </div>
            <br>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
